[submodule "src/github.com/onsi/ginkgo"]
	path = src/github.com/onsi/ginkgo
	url = https://github.com/onsi/ginkgo
[submodule "src/github.com/onsi/gomega"]
	path = src/github.com/onsi/gomega
	url = https://github.com/onsi/gomega
[submodule "src/github.com/codegangsta/cli"]
	path = src/github.com/codegangsta/cli
	url = https://github.com/codegangsta/cli
[submodule "src/github.com/vito/gosub"]
	path = src/github.com/vito/gosub
	url = https://github.com/vito/gosub
[submodule "src/gopkg.in/yaml.v2"]
	path = src/gopkg.in/yaml.v2
	url = https://gopkg.in/yaml.v2
[submodule "src/golang.org/x/net"]
	path = src/golang.org/x/net
	url = https://go.googlesource.com/net
[submodule "src/golang.org/x/text"]
	path = src/golang.org/x/text
	url = https://go.googlesource.com/text
[submodule "src/github.com/golang/protobuf"]
	path = src/github.com/golang/protobuf
	url = https://github.com/golang/protobuf
[submodule "src/github.com/cloudfoundry-incubator/cf-test-helpers"]
	path = src/github.com/cloudfoundry-incubator/cf-test-helpers
	url = https://github.com/cloudfoundry-incubator/cf-test-helpers
[submodule "src/github.com/nats-io/nats"]
	path = src/github.com/nats-io/nats
	url = https://github.com/nats-io/nats
[submodule "src/github.com/nats-io/gnatsd"]
	path = src/github.com/nats-io/gnatsd
	url = https://github.com/nats-io/gnatsd
[submodule "src/github.com/nats-io/go-nats"]
	path = src/github.com/nats-io/go-nats
	url = https://github.com/nats-io/go-nats
[submodule "src/github.com/nats-io/nuid"]
	path = src/github.com/nats-io/nuid
	url = https://github.com/nats-io/nuid
[submodule "src/github.com/pkg/errors"]
	path = src/github.com/pkg/errors
	url = https://github.com/pkg/errors
[submodule "src/code.cloudfoundry.org/lager"]
	path = src/code.cloudfoundry.org/lager
	url = https://github.com/pivotal-golang/lager
[submodule "src/github.com/st3v/glager"]
	path = src/github.com/st3v/glager
	url = https://github.com/st3v/glager.git
[submodule "src/code.cloudfoundry.org/cf-networking-helpers"]
	path = src/code.cloudfoundry.org/cf-networking-helpers
	url = https://github.com/cloudfoundry/cf-networking-helpers.git
[submodule "src/github.com/nu7hatch/gouuid"]
	path = src/github.com/nu7hatch/gouuid
	url = https://github.com/nu7hatch/gouuid.git
[submodule "src/github.com/pivotal-cf/paraphernalia"]
	path = src/github.com/pivotal-cf/paraphernalia
	url = https://github.com/pivotal-cf/paraphernalia
