[submodule "src/code.cloudfoundry.org/route-emitter"]
	path = src/code.cloudfoundry.org/route-emitter
	url = https://github.com/cloudfoundry/route-emitter
[submodule "src/service-discovery-controller/src/code.cloudfoundry.org/bbs"]
	path = src/service-discovery-controller/src/code.cloudfoundry.org/bbs
	url = https://github.com/cloudfoundry/bbs
[submodule "src/github.com/onsi/ginkgo"]
	path = src/github.com/onsi/ginkgo
	url = https://github.com/onsi/ginkgo
[submodule "src/github.com/onsi/gomega"]
	path = src/github.com/onsi/gomega
	url = https://github.com/onsi/gomega
[submodule "src/code.cloudfoundry.org/consuladapter"]
	path = src/code.cloudfoundry.org/consuladapter
	url = https://github.com/cloudfoundry/consuladapter
[submodule "src/github.com/codegangsta/cli"]
	path = src/github.com/codegangsta/cli
	url = https://github.com/codegangsta/cli
[submodule "src/github.com/vito/gosub"]
	path = src/github.com/vito/gosub
	url = https://github.com/vito/gosub
[submodule "src/gopkg.in/yaml.v2"]
	path = src/gopkg.in/yaml.v2
	url = https://gopkg.in/yaml.v2
[submodule "src/golang.org/x/net"]
	path = src/golang.org/x/net
	url = https://go.googlesource.com/net
[submodule "src/golang.org/x/text"]
	path = src/golang.org/x/text
	url = https://go.googlesource.com/text
